@page
@using Microsoft.Extensions.Localization
@using unimade.MTPortal.Localization
@using unimade.MTPortal.Web.Pages.Internal.Announcements
@model IndexModel
@inject IStringLocalizer<MTPortalResource> L

@section scripts {
    <abp-script src="/Pages/Internal/Announcements/index.js"></abp-script>
}

<abp-card>
    <abp-card-header>
        <h2>@L["Announcements"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="AnnouncementsTable"></abp-table>
    </abp-card-body>
</abp-card>
